{% extends 'base.html' %}
{% block title %}หน้าหลัก{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>ประวัติความเป็นมา</p>
<dl>
    <dt>คณะเทคโนโลยีอุตสาหกรรม มหาวิทยาลัยนครพนม ประกาศจัดตั้งเมื่อ พ.ศ.2480ในนามโรงเรียนช่างไม้นครพนม พ.ศ. 2503 เปลี่ยนชื่อเป็นโรงเรียนการช่างนครพนม ผลิตช่างฝีมือในโครงการ สปอ. พ.ศ. 2519 ยกฐานะเป็นวิทยาลัยอาชีวศึกษานครพนม (วันที่ 1 ตุลาคม พ.ศ. 2519) และเปลี่ยนชื่อเป็นวิทยาลัยเทคนิคนครพนม เมื่อวันที่ 31 มกราคม พ.ศ. 2522 มีเนื้อที่ทั้งหมด 506 ไร่ ซึ่งอยู่ห่างจากตัวเมืองเป็นระยะทาง 4 กิโลเมตร</dt>

<dd>พ.ศ. 2480 กระทรวงศึกษาธิการได้ประกาศตั้งในนาม “โรงเรียนช่างไม้นครพนม” (น.พ.3) เปิดสอนช่างไม้ระดับชั้นประโยคมัธยมอาชีวศึกษาตอนต้นหลักสูตร 3 ปี โดยรับผู้ที่จบชั้นประถมศึกษาปีที่ 4</dd>
<dd></dd>พ.ศ. 2486 เปิดสอนหลักสูตรระดับมัธยมศึกษาตอนปลาย แผนกช่างไม้ปลูกสร้างหลักสูตร 3 ปี โดยรับจากผู้จบ ม.6</dd>
พ.ศ. 2499 เปิดสอนหลักสูตรประโยคอาชีวศึกษาตอนปลาย แผนกช่างไม้ปลูกสร้างหลักสูตร 3 ปี โดยรับจากผู้จบ ม.6
พ.ศ. 2503 เปลี่ยนชื่อจาก “โรงเรียนช่างไม้นครพนม” เป็น “โรงเรียนการช่างนครพนม”เพื่อผลิตช่างฝีมือระดับกลางตามโครงการ ส.ป.อ. เปิดสอน 3
แผนกคือแผนกวิชาช่างก่อสร้าง
แผนกวิชาช่างกลโรงงาน
แผนกวิชาช่างเชื่อมและโลหะแผ่น

พ.ศ. 2506 เปิดเพิ่มอีก 1 แผนก คือ แผนกวิชาช่างเครื่องยนต์และดีเซล
พ.ศ. 2515 เปิดสอนแผนกวิชาช่างวิทยุและโทรคมนาคม
พ.ศ. 2519 ยกฐานะเป็น “วิทยาลัยอาชีวศึกษานครพนม” เมื่อวันที่ 1 ตุลาคม พ.ศ.2519 โดยเปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาช่างก่อสร้าง
พ.ศ. 2521 เปิดสอนแผนกวิชาช่างไฟฟ้า
พ.ศ. 2522 ได้เปลี่ยนชื่อจาก “วิทยาลัยอาชีวศึกษานครพนม” เป็น “วิทยาลัยเทคนิคนครพนม” เมื่อวันที่ 31 มกราคม พ.ศ.2522 เปิดสอนแผนกวิชาคหกรรมศาสตร์, แผนกวิชาพานิชยการ และทำการย้ายสถานที่ไปเปิดสอน ณ สถานที่ตั้งใหม่ อยู่ถนนสายนครพนม-สกลนคร บ.ภูเขาทอง อ.เมือง จ.นครพนม เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาคหกรรมทั่วไป
พ.ศ. 2528 เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาอิเล็กทรอนิกส์
พ.ศ. 2532 เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาช่างไฟฟ้าและแผนกวิชาการตลาด
พ.ศ. 2533 เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาการบัญชี
พ.ศ. 2536 เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาคอมพิวเตอร์ธุรกิจ
พ.ศ. 2539 เปิดสอนระดับประกาศนียบัตรวิชาชีพ (ปวช.) DVT. แผนกวิชาการตลาด สาขาวิชาค้าปลีก
พ.ศ. 2540 เปิดสอนระดับประกาศนียบัตรวิชาชีพ (ปวช.) DVT. แผนกวิชาคอมพิวเตอร์, แผนกวิชาเลขานุการและแผนกวิชาคหกรรมธุรกิจ, เปิดสอนระดับประกาศนีย-บัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาเลขานุการและแผนกวิชาการบัญชี (ม.6)
พ.ศ. 2541 เปิดสอนระดับประกาศนียบัตรวิชาชีพ (ปวช.) DVT. แผนกวิชาช่างยนต์, เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) แผนกวิชาช่างยนต์, แผนกวิชาช่างเทคนิคการผลิต, แผนกวิชาการติดตั้งและควบคุม, แผนกวิชาเครื่องเย็นและปรับอากาศ, แผนกวิชาอิเล็กทรอนิกส์ทั่วไป, แผนกวิชาการก่อสร้าง, แผนกวิชาการตลาดและแผนกวิชาคอมพิวเตอร์ธุรกิจ
พ.ศ. 2542 เปิดสอนระดับประกาศนียบัตรวิชาชีพ (ปวช.) DVT. แผนกวิชาเลขานุการ, เปิดสอนประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) DVT. แผนกวิชาช่างยนต์, แผนกวิชาการบัญชี, แผนกวิชาคอมพิวเตอร์,แผนกวิชาคหกรรม สาขาธุรกิจและการโรงแรม
พ.ศ.2543 เปิดสอนระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.) DVT. แผนกวิชาการติดตั้งและควบคุม, แผนกวิชาการก่อสร้าง, แผนกวิชาการบัญชี, แผนกวิชาคอมพิวเตอร์, แผนกวิชาคหกรรม ,แผนกวิชาอิเล็กทรอนิกส์, แผนกวิชาช่างยนต์ สาขาเครื่องกลการเกษตร, แผนกวิชาช่างเชื่อม, แผนกวิชาช่างไฟฟ้า, และแผนกวิชาการขายและระดับประกาศนียบัตรวิชาชีพชั้นสูง (ปวส. ม.6) แผนกวิชาเทคนิคโลหะ, แผนกวิชาเทคนิคสถาปัตยกรรม และแผนกวิชาคหกรรมธุรกิจ
พ.ศ. 2545 เปลี่ยนโครงสร้างเป็นสำนักงานคณะกรรมการการอาชีวศึกษา (สอศ.)กระทรวงศึกษาธิการ
พ.ศ. 2547 เปิดสอนแผนกวิชาเทคโนโลยีสารสนเทศ ระดับ ปวช. และ ระดับ ปวส.
พ.ศ. 2548 วิทยาลัยเทคนิคนครพนม ได้ยกระดับเป็นมหาวิทยาลัยนครพนม ตาม พ.ร.บ.มหาวิทยาลัยนครพนม เมื่อวันที่ 2 กันยายน 2548
พ.ศ. 2550 เปิดสอนหลักสูตร ระดับ ปริญญาตรี หลักสูตรอุตสาหกรรมศาสตร์บัณฑิตสาขาวิศวกรรมไฟฟ้า (อสบ.)
พ.ศ.2552 เปิดสอนหลักสูตร ระดับปริญญาตรี 4 ปี สาขาวิชาเทคโนโลยีคอมพิวเตอร์, สาขาวิชาเทคโนโลยีอิเล็กทรอนิกส์, เปิดสอนหลักสูตร ระดับปริญญาตรี 2 ปี ต่อเนื่อง, สาขาวิชาเทคโนโลยีอุตสาหกรรมการผลิต, สาขาวิชาเทคโนโลยีไฟฟ้าอุตสาหกรรม
พ.ศ.2553 เปิดสอนหลักสูตร ระดับปริญญาตรี 4 ปี สาขาวิชาวิศวกรรมอุตสาหการและสาขาวิศวกรรมโยธา (ปัจจุบันแยกเป็นคณะวิศวกรรมศาสตร์แล้ว)
พ.ศ.2558 เปิดสอนหลักสูตร ระดับปริญญาตรี 4 ปี สาขาวิชาวิศวกรรมคอมพิวเตอร์ (ปัจจุบันแยกเป็นคณะวิศวกรรมศาสตร์แล้ว) </P>

{% endblock %}