{% extends 'base.html' %}
{% block title %}หน้าหลัก{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าปวช ประกาศนียบัตรวิชาชีพ</p>
<div id="content" class="site-content">
  <h3>หลักสูตรประกาศนียบัตรวิชาชีพ (ปวช.)</h3>
  <p>หลักสูตรนี้มุ่งเน้นการเตรียมความพร้อมสำหรับนักเรียนที่ต้องการเข้าสู่วงการเทคโนโลยีอุตสาหกรรม โดยมีวิชาเรียนที่หลากหลายและเน้นทักษะปฏิบัติจริง</p>
  <ul>
    <li>วิชาเทคโนโลยีสารสนเทศ</li>
    <li>วิชาช่างไฟฟ้า</li>
    <li>วิชาช่างกลโรงงาน</li>
    <li>วิชาการจัดการธุรกิจ</li>
  </ul>


{% endblock %}