{% extends 'base.html' %}
{% block title %}ปริญญาตรี{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าหลักสูตรปริญญาตรี</p>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>ข้อมูลหลักสูตรปริญญาตรี (ป.ตรี)</h3>
			<ul><li> เป็นการศึกษาระดับอุดมศึกษาที่เน้นการเรียนรู้ทั้งทฤษฎีและปฏิบัติในสาขาวิชาต่างๆ เช่น วิทยาศาสตร์, วิศวกรรมศาสตร์, การบริหารธุรกิจ, สังคมศาสตร์, ศิลปศาสตร์ และอื่นๆ</li></ul>
			<h3>สิ่งที่จะได้รับ: </h3>
				<ul>
					<li>ความรู้และทักษะในสาขาวิชาที่เลือกเรียน</li>
					<li>ประสบการณ์การทำงานผ่านโครงการและการฝึกงาน</li>
					<li>โอกาสในการพัฒนาทักษะการสื่อสาร, การทำงานเป็นทีม, และการแก้ปัญหา</li>
				</ul>
			<h3>โอกาสในการทำงาน:</h3> 
			<ul>
				<li>สามารถทำงานในตำแหน่งที่ต้องใช้ความรู้และทักษะเฉพาะทาง เช่น นักวิจัย, ผู้บริหาร, วิศวกร, แพทย์, หรืออาจารย์</li>
				<li>มีโอกาสทำงานในองค์กรทั้งภาครัฐและเอกชนในหลากหลายสาขา</li>
				<li>สามารถศึกษาต่อในระดับสูงขึ้น เช่น ปริญญาโท หรือเริ่มต้นทำงานวิจัยและพัฒนา</li>
			</ul>
				<!-- Add more content here as needed -->
			<br><h3>หลักสูตรที่เปิดสอน</h3> 
		</div>
	</div>


<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>หลักสูตร</th>
      <th>เอกสารหลักสูตร</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีไฟฟ้าอุตสาหกรรม แขนงวิชาเทคโนโลยีไฟฟ้าและระบบอัตโนมัติ</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีไฟฟ้าอุตสาหกรรม แขนงวิชาเทคโนโลยีอิเล็กทรอนิกส์อัจฉริยะ</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>3</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีเครื่องกล แขนงวิชาเทคโนโลยีเครื่องกล</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>4</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีเครื่องกล แขนงวิชาเทคโนโลยียานยนต์สมัยใหม่</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>5</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีอุตสาหการ แขนงวิชาเทคโนโลยีวิศวกรรมการจัดการอุตสาหกรรม</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>6</td>
      <td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาเทคโนโลยีอุตสาหการ แขนงวิชาเทคโนโลยีวิศวกรรมการผลิต</td>
      <td><a href="#">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
		<td>7</td>
		<td>อุตสาหกรรมศาสตรบัณฑิต (อส.บ.) สาขาวิชาหุ่นยนต์อัจฉริยะ</td>
		<td><a href="#">ดาวน์โหลด</a></td>	
		<td>-</td>
	</tr>
  </tbody>
</table>
<br><br>


{% endblock %}