{% extends 'base.html' %}
{% block title %}ติดต่อเรา{% endblock %}
{% block content %}

<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>ติดต่อเรา</p>

<div id="primary" class="content-area">


		<main id="main" class="site-main" role="main">

			
<article id="post-11" class="post-11 page type-page status-publish hentry">

	
	<header class="entry-header">

		<div class="inner-wrap"><h1 class="entry-title">ติดต่อ</h1></div><!-- .inner-wrap -->
	</header><!-- .entry-header -->


<body>

<div class="container my-5">
  <h1 class="title text-center">ติดต่อเรา</h1><br>

  <div class="row mt-4">
    <div class="col-md-6">
      <h4 class="subtext"><u>ที่อยู่</u>:</h4>
      <p class="subtext">
        คณะเทคโนโลยีอุตสาหกรรม<br>
        มหาวิทยาลัยนครพนม<br>
        214 หมู่ 12 ต.ในเมือง อ.เมือง จ.นครพนม 48000
      </p>

      <h4 class="subtext mt-4"><u>ช่องทางสื่อสาร</u>:</h4>
      <ul class="subtext list-unstyled">
        <li>งานประชาสัมพันธ์: 095 189 9303</li>
        <li>งานทะเบียนคณะ: 042 503 777</li>
        <li>โทรศัพท์/โทรสาร: 042 503 777</li>
        <li>Email: <a href="mailto:itech@npu.ac.th" target="_blank">itech@npu.ac.th</a></li>
        <li>
          Facebook: 
          <a href="https://www.facebook.com/people/คณะเทคโนโลยีอุตสาหกรรม-มหาวิทยาลัยนครพนม/100057388091241" target="_blank">
            คลิกที่นี่
          </a>
        </li>
        <li>เว็บไซต์หลัก: <a href="https://www.npu.ac.th" target="_blank">https://www.npu.ac.th</a></li>
      </ul>
    </div>

    <div class="col-md-6 map-container mt-3 mt-md-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15229.87342363554!2d104.756339!3d17.389297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313c0ea834c7a78f%3A0x287fc4dab0eb1806!2z4LiE4LiT4Liw4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lit4Li44LiV4Liq4Liy4Lir4LiB4Lij4Lij4LihIOC4oeC4q-C4suC4p-C4tOC4l-C4ouC4suC4peC4seC4ouC4meC4hOC4o-C4nuC4meC4oQ!5e0!3m2!1sth!2sth!4v1752047888057!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

</body>
</html>
	
	
	


{% endblock %}