{% extends 'base.html' %}
{% block title %}ประกาศนียบัตรวิชาชีพชั้นสูง{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าปวช ประกาศนียบัตรวิชาชีพชั้นสูง</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>ข้อมูลหลักสูตรประกาศนียบัตรวิชาชีพชั้นสูง (ปวส.)</h3>
      <p>ข้อมูลเกี่ยวกับหลักสูตร ปวส. ของคณะเทคโนโลยีอุตสาหกรรม มหาวิทยาลัยนครพนม</p>
      <!-- Add more content here as needed -->
    </div>
  </div>

  <br>
  <!--tabel-->

<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>หลักสูตร</th>
      <th>เอกสารหลักสูตร</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>สาขาวิชาเทคนิคเครื่องกล (สายตรง) แผนการเรียนปกติ</td>
      <td><a href="https://drive.google.com/file/d/1YlA-aPGLCRYppn_u4Gim_0Cs_Dm-D81N/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>สาขาวิชาปวส.เทคนิคยานยนต์ไฟฟ้า 2568</td>
      <td><a href="https://drive.google.com/file/d/11Ti9jsVfVRFijERKkSqRBirijSLH19Zc/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>3</td>
      <td>สาขาวิชาไฟฟ้า ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1iWsbdpbGPL8zAFIqEmfMjtEOtEOSEOGT/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>4</td>
      <td>สาขาวิชาเทคโนโลยีอิเล็กทรอนิกส์ ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1pP3inyBCJyx4WjCjabDHE9JiPEWLxyY1/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    
    <tr>
      <td>5</td>
      <td>สาขาวิชาเทคนิคสถาปัตยกรรม ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/13_UMzIP-E_nMHPjE_fwSiWTQbxz_qjoi/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>6</td>
      <td>สาขาวิชาเทคนิคโลหะ ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1qQLebb6bId7uD1_f2YBINUdl1mD3PpmF/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>7</td>
      <td>สาขาวิชาเทคนิคยานยนต์ไฟฟ้า ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/18ATghLv7dwM568-YvvoqzVuQj-xbN8xK/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>8</td>
      <td>สาขาวิชาเทคนิคเครื่องกล ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1yP_mzipu70MwznMjaqrQ9DRLmKyGLuO0/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>9</td>
      <td>สาขาวิชาเทคนิคการผิต ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1Y3VM-n5A4WMizc6ni7pAe6rIHSmg_tGj/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>10</td>
      <td>สาขาวิชาช่างก่อสร้าง ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1wYpqZnCKAf08TCn0R4I18vHrphm8XJq2/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>11</td>
      <td>สาขาวิชาการโรงแรม ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1fUinHXpZXnZK9FUP5-UKDTkN3lTuRteM/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>12</td>
      <td>สาขาวิชาการบัญชี ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1ODQjGXJ_Kk7cAGuBZLBPC0TrveWQsE1U/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>13</td>
      <td>สาขาวิชาการจัดการสำนักงานดิจิทัล ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1IcgrCj3EWlDbJujKESMoH_u1LW20HHnI/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>14</td>
      <td>สาขาวิชาการตลาด ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1G_xn98YXhsjW8ao_Aon0y07nQkEsepQg/view">ดาวน์โหลด</a></td>
    <td>-</td>
    <tr>
      <td>15</td>
      <td>สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล ปวส. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/file/d/1_Clx-ivfaKq9ZyHa0J6uQR-Z9PPLjNXm/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
  </tbody>
</table>
<br><br>
</div>

{% endblock %}