{% extends 'base.html' %}
{% block title %}ปริญญาโท{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าหลักสูตรปริญญาโท</p>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>ข้อมูลหลักสูตรปริญญาโท (ป.โท)</h3>
			<ul><li> เป็นการศึกษาระดับอุดมศึกษาที่มุ่งเน้นการพัฒนาความรู้และทักษะเฉพาะทางในสาขาวิชาชีพต่างๆ</li>
                <li>การวิจัยเชิงลึกเพื่อเตรียมความพร้อมสำหรับตำแหน่งบริหารหรือการทำงานที่มีความรับผิดชอบสูงขึ้น</li></ul>
			<h3>สิ่งที่จะได้รับ: </h3>
				<ul>
					<li>ความเชี่ยวชาญในสาขาวิชาเฉพาะ</li>
					<li>ความสามารถในการวิจัยและการแก้ปัญหาที่ซับซ้อน</li>
					<li>ทักษะในการบริหารจัดการ, การตัดสินใจ, และการนำทีมในองค์กร</li>
				</ul>
			<h3>โอกาสในการทำงาน:</h3> 
			<ul>
				<li>ทำงานในตำแหน่งผู้บริหารระดับสูง, นักวิจัย, ผู้เชี่ยวชาญในสาขาวิชาที่ศึกษา เช่น ผู้จัดการทั่วไป, ผู้อำนวยการ, หรือที่ปรึกษาทางธุรกิจ</li>
				<li>สามารถมีบทบาทสำคัญในองค์กรทั้งภาครัฐและเอกชน</li>
				<li>มีโอกาสศึกษาในระดับปริญญาเอกหรือทำงานในด้านการวิจัยที่เกี่ยวข้อง</li>
			</ul>
				<!-- Add more content here as needed -->
			<br><h3>หลักสูตรที่เปิดสอน</h3> 
		</div>
	</div>


<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>หลักสูตร</th>
      <th>เอกสารหลักสูตร</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td> อุตสาหกรรมศาสตรมหาบัณฑิต (อส.ม.) สาขาวิชาวิศวกรรมไฟฟ้า</td>
      <td><a href="https://drive.google.com/file/d/1LhMQt3V8Nj8YiQCtM_r1fimc43NtCCZS/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>อุตสาหกรรมศาสตรมหาบัณฑิต (อส.ม.) สาขาวิชาเทคโนโลยีอุตสาหกรรม</td>
      <td><a href="https://drive.google.com/file/d/1aAEgFON03M7MkCty9Sx1RVMvJ2fwjxVx/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    
  </tbody>
</table>
<br><br>





{% endblock %}