{% extends 'base.html' %}
{% block title %}ระบบต่างๆ{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>รวมระบบ</p>


 
  <h1>เมนูระบบภายใน</h1>

  <div class="grid-container">
	
    <a href="https://npu.ac.th" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-calendar-check"></i>
      <p>จองห้องประชุม</p>
    </div></a>


<a href="http://hr.npu.ac.th" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-users"></i>
      <p>ข้อมูลบุคลากร</p>
    </div></a>

<a href="https://www.npu.ac.th/car/" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-bus"></i>
      <p>จองรถ</p>
    </div></a>

<a href="https://npu.ac.th" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-graduation-cap"></i>
      <p>ศิษย์เก่า</p>
    </div></a>

<a href="https://dc.npu.ac.th/email/main.php" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-envelope"></i>
      <p>Email-NPU Mail</p>
    </div></a>

<a href="https://dc.npu.ac.th/o365/main.php" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-envelope"></i>
      <p>Email-Office365</p>
    </div></a>

<a href="http://202.29.55.102/db/" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-lightbulb"></i>
      <p>งานวิจัย</p>
    </div></a>

 <a href="http://eoffice.npu.ac.th/" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-file-alt"></i>
      <p>เอกสาร</p>
    </div></a>


<a href="http://plan.npu.ac.th/3D_SYSTEM/parcel/home.php" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-cube"></i>
      <p>รายงานสามมิติ</p>
    </div></a>
    
<a href="https://app.akarawisut.com/" target="_blank" style="text-decoration: none; color: inherit;">
    <div class="card">
      <i class="fa fa-cogs"></i>
      <p>ระบบอักขราวิสุทธิ์</p>
  </div></a>


{% endblock %}