{% extends 'base.html' %}
{% block title %}ระดับปริญญาเอก{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าหลักสูตรปริญญาเอก</p>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>ข้อมูลหลักสูตรปริญญาเอก ปรัชญาดุษฎีบัณฑิต (ปร.ด.)</h3>
			<ul><li>เป็นการศึกษาระดับสูงสุดในระบบการศึกษาของมหาวิทยาลัย เน้นการวิจัยและการพัฒนาความรู้ในสาขาวิชาที่เลือก </li>
                <li>ผู้เรียนจะต้องทำการวิจัยที่มีความลึกซึ้งและมีส่วนช่วยในการพัฒนาวิชาการหรือสังคม</li></ul>
			<h3>สิ่งที่จะได้รับ: </h3>
				<ul>
					<li>ความเชี่ยวชาญขั้นสูงในสาขาวิชาที่ศึกษา</li>
					<li>ความสามารถในการวิจัยและสร้างนวัตกรรมใหม่ๆ ที่มีคุณค่า</li>
					<li>ทักษะในการสอนและการนำเสนอความรู้ รวมถึงการเป็นผู้นำทางวิชาการ</li>
				</ul>
			<h3>โอกาสในการทำงาน:</h3> 
			<ul>
				<li>ทำงานในตำแหน่งที่เกี่ยวข้องกับการวิจัยและการพัฒนา เช่น อาจารย์มหาวิทยาลัย, นักวิจัย, หรือที่ปรึกษาทางวิชาการ</li>
				<li>สามารถทำงานในองค์กรระดับสูงที่ต้องการผู้เชี่ยวชาญด้านวิจัยและการพัฒนานวัตกรรม</li>
				<li>มีโอกาสสร้างผลกระทบในด้านวิชาการ, เทคโนโลยี, หรือสังคมผ่านผลงานวิจัยที่สำคัญ</li>
			</ul>
				<!-- Add more content here as needed -->
			<br><h3>หลักสูตรที่เปิดสอน</h3> 
		</div>
	</div>


<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>หลักสูตร</th>
      <th>เอกสารหลักสูตร</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td> ปรัชญาดุษฎีบัณฑิต (ปร.ด.) สาขาวิชาวิศวกรรมไฟฟ้า</td>
      <td><a href="https://drive.google.com/file/d/1MDBNdgUyGcnjEF8ZghjbMwJMjj0WOnlL/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>ปรัชญาดุษฎีบัณฑิต (ปร.ด.) สาขาวิชาเทคโนโลยีอุตสาหกรรม</td>
      <td><a href="https://drive.google.com/file/d/15GZQ91CFx3yGhnMXJONDmYrrJAFaaK48/view">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    
  </tbody>
</table>
<br><br>

{% endblock %}