{% extends 'base.html' %}
{% block title %}อาคารเรียน{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<h3 >อาคารเรียน</h3>
<br>
<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>อาคาร</th>
      <th>จำนวน</th>
      <th>หน่วย</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>  
  <tbody>
    <tr><td>1</td><td>อาคารอำนวยการ</td><td>1</td><td>หลัง</td><td></td></tr>
    <tr><td>2</td><td>อาคารเรียน</td><td>5</td><td>หลัง</td><td></td></tr>
    <tr><td>3</td><td>อาคารห้องสมุด</td><td>1</td><td>หลัง</td><td></td></tr>
    <tr><td>4</td><td>อาคารโรงอาหาร</td><td>1</td><td>หลัง</td><td></td></tr>
    <tr><td>5</td><td>อาคารโรงฝึกงาน</td><td>6</td><td>หลัง</td><td></td></tr>
    <tr><td>6</td><td>อาคารบ้านพักครู อาจารย์นักการภารโรง</td><td>18</td><td>หลัง</td><td></td></tr>
    <tr><td>7</td><td>สนามไดร์กอล์ฟ</td><td>1</td><td>หลัง</td><td></td></tr>
    <tr><td>8</td><td>อ่างเก็บน้ำ</td><td>5</td><td>อ่าง</td><td></td></tr>
    <tr><td>9</td><td>สนามฟุตบอล</td><td>2</td><td>สนาม</td><td></td></tr>
    <tr><td>10</td><td>สนามบาสเก็ตบอล</td><td>2</td><td>สนาม</td><td></td></tr>
    <tr><td>11</td><td>สนามเทนนิส</td><td>2</td><td>สนาม</td><td></td></tr>
    <tr><td>12</td><td>อาคารโรงยิม</td><td>1</td><td>หลัง</td><td></td></tr>
    <tr><td>13</td><td>โรงจอดรถ</td><td>2</td><td>หลัง</td><td></td></tr>
    <tr><td>14</td><td>สนามกอล์ฟมาตรฐานขนาด 9 หลุม</td><td>1</td><td>สนาม</td><td></td></tr>
  </tbody>
</table>

{% endblock %}