{% extends 'base.html' %}
{% block title %}วิสัยทัศน์ พันธกิจ ปรัชญา{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<h3>วิสัยทัศน์ พันธกิจ ปรัชญา</h3>
<br>
<p>

<h4>วิสัยทัศน์</h4>
   <div class="a">คณะเทคโนโลยีอุตสาหกรรม มหาวิทยาลัยนครพนม  มุ่งเน้นผลิตนักเรียน  นักศึกษา  ทางด้านวิชาชีพในระดับประกาศนียบัตรวิชาชีพ  ประกาศนียบัตรวิชาชีพชั้นสูงและบัณฑิตผลิตงานวิจัยนวัตกรรม  สิ่งประดิษฐ์ถ่ายทอดเทคโนโลยีบริการวิชาการทำนุบำรุงศิลปวัฒนธรรมในท้องถิ่นสู่ชุมชนและอนุภูมิภาคลุ่มน้ำโขงภายใต้การบริหารจัดการที่ดี
   </div><br>

   
<h4>พันธกิจ</h4>
<ul>
<li>ผลิตนักเรียน นักศึกษา ทางด้านวิชาชีพในระดับประกาศนียบัตรวิชาชีพ ประกาศนียบัตรวิชาชีพชั้นสูงและบัณฑิตที่พึงประสงค์ของสังคม</li>
<li>ผลิตงานวิจัย นวัตกรรม สิ่งประดิษฐ์ และการถ่ายทอดเทคโนโลยี สู่ชุมชนและอนุภูมิภาคลุ่มน้ำโขง</li>              
<li>บริการทางวิชาการและวิชาชีพที่ตอบสนองความต้องการของสังคม และอนุภูมิภาคลุ่มน้ำโขง</li>
<li>ทำนุบำรุง ส่งเสริม เผยแพร่ และเป็นศูนย์กลางการเรียนรู้ศิลปวัฒนธรรมในท้องถิ่น และอนุภูมิภาคลุ่มน้ำโขง</li>
<li>บริหารจัดการตามหลักธรรมาภิบาล</li>  
</ul>
<br>
<h4>ปรัชญา</h4>

</p>

{% endblock %}