{% extends 'base.html' %}
{% block title %}ระดับประกาศนียบัตรวิชาชีพ{% endblock %}
{% block content %}
<h2>ยินดีต้อนรับสู่ ITECH NPU</h2>
<p>นี่คือหน้าปวช ประกาศนียบัตรวิชาชีพ</p>
<div id="content" class="site-content">
  <h3>หลักสูตรประกาศนียบัตรวิชาชีพ (ปวช.)</h3>
  <!--tabel-->

<table border="1" class="building-table">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>หลักสูตร</th>
      <th>เอกสารหลักสูตร</th>
      <th>หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>สาขาวิชาช่างกลโรงงาน ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1HIracF49Meq08sOK8IV1iszOC4N8cwl9&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>2</td>
      <td>สาขาวิชาอิเล็กทรอนิกส์ ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1l4BpTKSCT7_qVhCCm40urdCug3Whbvu-&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>3</td>
      <td>สาขาวิชาสถาปัตยกรรม ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1hxxhNwLB_IczhPR-rFgEWIe6tV1N60SK&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>4</td>
      <td>สาขาวิชายานยนต์ไฟฟ้า ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=12jwKZFEdhlMys8ANdgx3PzJSYHDk4xZv&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>5</td>
      <td>สาขาวิชาเทคโนโลยีธุรกิจดิจิทัล ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1idLpp2anUnpM_PvdoqHikbVs7FpldHrE&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>6</td>
      <td>สาขาวิชาช่างยนต์ ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=148n3SVPufp0YZz7GcIdfbPhrSlv3C-Cd&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>7</td>
      <td>สาขาวิชาช่างไฟฟ้า ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1XKXPSEsU3BCxS-CgDd3R4UqHVZFY6uRZ&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>8</td>
      <td>สาขาวิชาช่างเชื่อมโลหะ ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=12dI8J3861ut1LkgW8zwbF5KBLF4XknLX&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>9</td>
      <td>สาขาวิชาช่างก่อสร้าง ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1lmCl7rIUSRR7s8BS-EzL_a45mx-6gezq&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>10</td>
      <td>สาขาวิชาการโรงแรม ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=15Tblu1IMzaeskSs999DMoOjwJyUzXUG_&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>11</td>
      <td>สาขาวิชาการบัญชี ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1IZvqEI1ue9KJiOLO4hYSlW5BAsFtuT1V&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>12</td>
      <td>สาขาวิชาการตลาด ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=10KIdkcNN2SobmjpRyqTfIRp23jhq8vMB&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
    <tr>
      <td>13</td>
      <td>สาขาวิชาการจัดการสำนักงานดิจิทัล ปวช. พ.ศ.2567</td>
      <td><a href="https://drive.google.com/open?id=1Cd7jGCi3Qr6jaH85YQweuM3lVJV8NdYU&amp;usp=drive_copy">ดาวน์โหลด</a></td>
      <td>-</td>
    </tr>
  </tbody>
</table>

{% endblock %}